<% include partials/header %>

<h1><%=header1%></h1>

<p><%=homePar%></p>

<% toDoList.forEach(function(entry) { %>
  <h1><a href="/posts/<%=entry.entryHead%>"><%=entry.entryHead%></a></h1>
  <p><%=entry.entryBody.substr(0,100)%> <a href="/posts/<%=entry.entryHead%>">... [Read more]</a></p>
<% }); %>

<% include partials/footer %>
